div {
  color: blue;
  text-align: center;
}

.Land-List-Parent{
  h1{
  margin-bottom:3rem;
  color:black;
  }
}

div {
  color: black;
  text-align: center;
}



.land-list-owner{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  
  div.ui{
    width:48%;
    border: 2px solid black;
    margin: 20px;  
    margin-top: 0;
    margin-bottom: 5rem;
    color: blue;
    height:auto;
    background:#E5E5E5;
    box-shadow: 5px 1px 20px #111;
    font-size: 1.1rem;
    &:hover {
      transform: scale(1.05);
    } 
    
  }

  //Last card
  .ui.card:last-child {
    margin-bottom: 5rem;
  }

  //first card
  .ui.card:first-child {
    margin-top: 0;
  }

}
.LandCard-Edit-Button{
  height: 2rem;
  border-radius: 5px;
  &:hover {
    transform: scale(1.05);
  
  } 
}


.land-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  
  div.ui{
    
    border: 2px solid black;
    margin: 20px;  
    margin-top: 0;
    margin-bottom: 5rem;
    color: blue;
    height:auto;
    background:#E5E5E5;
    box-shadow: 5px 1px 20px #111;
    font-size: 1.1rem;
    &:hover {
      transform: scale(1.05);
    } 
    
  }

  //Last card
  .ui.card:last-child {
    margin-bottom: 5rem;
  }

  //first card
  .ui.card:first-child {
    margin-top: 0;
  }

}