//delete buttons NEGATIVE               <Button className="negative" color='red'>Red</Button>

//edit, book buttons aka NEUTRAL          <Button className="neutral" color='grey'>Grey</Button>

//submit, add POSITIVE               <Button className="positive" color='green'>Green</Button>
.addListing {
  button {
    margin: 10px;
    border-radius: 5px;
    font-size: 1rem;
  }
}
