.userAccount{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    img{
        width: 100%;
    }
    form{
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 5px 5px black;
        padding: 10px;

        input{
            background: rgb(236, 236, 236);
    
            &:hover{
                background: white;
            }
        }

        button{
            margin: 10px;
            border-radius: 10px;
            font-size: 1rem;
            background: rgb(46, 250, 46);
            padding: 10px;
        }
    }
   
}